<?xml version="1.0"?>

<model>
  <name>edgar_mine_virtual_stix</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    A section of the Edgar Mine for use during the SubT Challenge Virtual STIX competition.
  </description>
</model>
